[submodule "API-Gateway-SA"]
	path = API-Gateway-SA
	url = https://github.com/TeeSSK/API-Gateway-SA
[submodule "CU-Overflow-Subject-Service"]
	path = CU-Overflow-Subject-Service
	url = https://github.com/jKulrativid/CU-Overflow-Subject-Service
[submodule "SA-Front-End"]
	path = SA-Front-End
	url = https://github.com/oatRatchanon/SA-Front-End.git
[submodule "SW-Arch-File-Storage-Microservice"]
	path = SW-Arch-File-Storage-Microservice
	url = https://github.com/PongDev/SW-Arch-File-Storage-Microservice.git
[submodule "sw-arch-post-service"]
	path = sw-arch-post-service
	url = https://github.com/Polapob/sw-arch-post-service.git
[submodule "sw-arch-topic-worker"]
	path = sw-arch-topic-worker
	url = https://github.com/Polapob/sw-arch-topic-worker.git
