apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
data:
	GATEWAY_URL: http://localhost:3001
	DATABASE_URL: YOUR_MONGO_ATLAS_URI
	FRONTEND_URL: http://localhost:5173
	SUJBECT_SERVICE_URL: http://subject-app-service:8080
	FILE_SERVICE_URL: http://localhost:8081
	DOMAIN: localhost

	GOOGLE_CLIENT_ID: YOUR_GOOGLE_CLIENT_ID
	GOOGLE_CLIENT_SECRET: YOUR_SECRET 

	JWT_ACCESS_SECRET: YOUR_ACCESS_SECRET
	JWT_REFRESH_SECRET: YOUR_REFRESH_SECRET
