apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
data:
  GATEWAY_URL: http://localhost
  DATABASE_URL: YOUR_DB_URL
  FRONTEND_URL: http://localhost
  SUBJECT_SERVICE_URL: http://subject-app-service:8080
  FILE_SERVICE_URL: http://filestorage-app-service:8081
  DOMAIN: localhost
  
  GOOGLE_CLIENT_ID: YOUR_ID
  GOOGLE_CLIENT_SECRET: YOUR_SECRET
  
  JWT_ACCESS_SECRET: ACCESS_KEY
  JWT_REFRESH_SECRET: REFRESH_KEY
