apiVersion: v1
kind: ConfigMap
metadata:
  name: subject-service-config
data:
  POSTGRES_DBNAME: subject
  POSTGRES_HOST: subject-db-service
  POSTGRES_USER: subject
  POSTGRES_PASSWORD: YOUR_PASSWORD
  POSTGRES_PORT: "5432"
  POSTGRES_SSL_MODE: disable
